// .lazy-load-image-background{
//     img{
//         height: 4rem;
//         width: 4rem;
//         border-radius: 50%;
//     }
// }

.styles{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}